[tool.black]
line-length = 100

[tool.isort]
profile = "black"
line_length = 100
force_sort_within_sections = true
combine_as_imports = true
include_trailing_comma = true

sections = ["STDLIB", "THIRDPARTY", "OTHER", "ROS2MESSAGES"]
default_section = "OTHER"
known_ros2messages = ["*_msgs", "*_srvs", "*_interfaces"]
